%h3 Books
%div
  %table
    %thead
      %tr
        %th Title
        %th Body
        %th
    - @books.each do |book|
      %tbody
        %tr
          %td= book.title
          %td= book.body
          %td= link_to "Show", book_path(book.id)
          %td= link_to "Edit", edit_book_path(book.id)
          %td= link_to "Destory", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?"
%h3 New Book
= form_with model:@book, local:true do |f|
  %p Title
  = f.text_field :title
  %p Body
  = f.text_area :body
  .action
    = f.submit 'Create Book'
